#puzz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#puzz div#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#puzz .choice {
    background-color: #4caf50;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    width: 220px;
    margin: 0 12px;
    font-size: 144%;
    font-weight: bold;
    outline: none;
}

#puzz .selected {
    background-color: #2f9046;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    width: 220px;
    margin: 0 12px;
    font-size: 144%;
    font-weight: bold;
    outline: none;
}

#puzz div#tally {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#puzz #leftvoters {
    text-align: right;
    width: 200px;
    margin-right: 20px;
}

#puzz #rightvoters {
    text-align: left;
    width: 200px;
    margin-left: 20px;
}

#puzz #rope {
    width: 500px;
}

#puzz #countdown {
    display: block;
    color: #c00;
    font-size: 120%;
    font-weight: bold;
}

@keyframes tugofwar_fade {
    0% { opacity: 1 }
    100% { opacity: 0;
	   transform: translateY(12px); }
}

#puzz .unselect {
    animation: tugofwar_fade 200ms ease-out forwards;
}

#puzz table#matches { margin-top: 20px; }
#puzz #matches th { background-color: #eee; }
#puzz #matches td { width: 180px; padding: 2px 20px; text-align: center; }
#puzz #matches .correct { font-weight: bold; background-color: #dfd}
